// Import brands controller specific stylesheets here

.not-a-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.bid-container {
  width: 345px;
  margin: 75px auto;
  float: none;
  margin-bottom: 10px;
}

.card-product {
  margin-bottom: 35px;
}

