// Specific CSS for your home-page
.hero-text {
  // text-align: center;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // color: white;
  // font-size: 50px;
}

.hero-text a {
  color: white;
  font-size: 25px;
}

.hero-text a:hover {
  font-size: 25px;
  opacity: 0.75;
  text-decoration: none;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(barrel.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.opaque-background {
  background-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 80vh;
  margin: 80px auto;


}
li {
  list-style: none;
}
#slideshow {
  margin: 50px auto;
  position: relative;
  width: 500px;
  height: 100px;
  padding: 10px;
  // box-shadow: 0 0 20px rgba(0,0,0,0.4);
  background-color: transparent;
}

#slideshow div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
#slideshow h3 {
  color: white;
  text-align: center;
}

.page-title {
  text-align: center;
}
.page-title h1 {
  color: #EE4F53;
  padding-top: 80px;
  font-size: 50px;
  font-weight: 800;
}

.index-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.brand-buttons {
  text-align: center;
  width: 200px;
  border: solid 1px #EE4F53;
}
.brand-buttons:hover {
  background-color: #EE4F53;
  color: white;
  width: 200px;
}
.brand-buttons a {
  font-weight: medium;
  color: #EE4F53;
}
.brand-buttons a:hover {
  font-weight: medium;
  color: white;
}

.venue-button {
  text-align: center;
  width: 200px;
  border: solid 1px white;
}
.venue-button:hover {
  background-color: #EE4F53;
  color: white;
}
.venue-button a {
  font-weight: medium;
  color: #EE4F53;
}
.venue-button a:hover {
  font-weight: medium;
  color: white;

}




