// Specific CSS for your home-page
.hero-text {
  // text-align: center;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // color: white;
  // font-size: 50px;
}

.hero-text a {
  color: white;
  font-size: 25px;
}

.hero-text a:hover {
  font-size: 25px;
  opacity: 0.75;
  text-decoration: none;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(barrel.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.opaque-background {
  background-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 80vh;
  margin: 80px auto;


}
li {
  list-style: none;
}
