// Specific CSS for your home-page
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

.hero-text a {
  color: white;
  font-size: 25px;
}

.hero-text a:hover {
  font-size: 25px;
  opacity: 0.75;
  text-decoration: none;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(placeholder.jpg);
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 125px auto;
    max-width: 1500px;
    justify-content: space-around;
    font-size: 24px;
    text-align: center;
    color: black;
}
