.fs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-container {
  width: 60%;
}

.dropdown-and-clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 32px;

  p {
    margin: 0;
  }

  .dropdown {
    margin: 0 16px;
  }
}

.offer-list {
  width: 500px;
}