<%= simple_form_for [@brand, @bid] do |f| %>
  <div class="form-inputs">
    <%= f.input :offer_amount, placeholder: '500' %>
    <%= f.input :additional, placeholder: '100 branded glasses and 20 branded T-shirts' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, { class: "btn btn-primary", value: "Create Bid" } %>
  </div>
<% end %>