<h1>Bids#index</h1>
<div class="bid-card-container">
  <div class="row">
    <div class="column">
      <%= render "shared/card" %>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <%= render "shared/card" %>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <%= render "shared/card" %>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <%= render "shared/card" %>
      </div>
  </div>
</div>
<br>


