<div class="card-product">
  <img class="card-image" src="https://upload.wikimedia.org/wikipedia/en/9/9b/Camden_Town_Brewery_logo.png" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

