
<div class="footer"style="
    background-color: gray;
    height: 100px;">
  <a class="navbar-brand"><p>ez</p><p id="tenda">tenda</p></a>
  <div class="footer-links" style="text-align: center;">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <%# <div class="footer-copyright">

  </div> %>
</div>
