<nav class="navbar navbar-light bg-transparent d-flex justify-content-around">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><p>ez</p><p id="tenda">tenda</p></a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="navbar-right">
      <% if user_signed_in? %>
        <%= link_to "Create offer", new_venue_offer_path(current_user.venue), class: "btn new-offer" %>
      <% else %>
        <a class="btn new-offer" href="/users/sign_in">Create offer</a>
      <% end %>
      <li class="nav-item dropdown">
        <i class="fas fa-bars dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <% if current_user.brand %>
              <%= link_to "My bids", brand_bids_path(current_user.brand), class: "dropdown-item" %>
            <% end %>
            <% if current_user.venue %>
              <%= link_to "My offers", venue_offers_path(current_user.venue), class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <a class="dropdown-item" href="/users/sign_in">Log in</a>
            <a class="dropdown-item" href="/users/sign_up">Sign up</a>
          <% end %>
        </div>
      </li>
    </div>
  </div>
</nav>
