<div class="not-a-grid">
    <% @bids.each do |bid| %>
     <div class="card-product">
      <img class="card-image" src="https://upload.wikimedia.org/wikipedia/en/9/9b/Camden_Town_Brewery_logo.png" />
      <div class="card-product-infos">
        <p> <%= bid.brand.brand_name %> </p>
         <%= bid.offer_amount %>
         <%= bid.additional %>
         <span id="text-muted">Created <%= time_ago_in_words(bid.updated_at) %> ago</span>
      </div>
    </div>
     <% end %>
    </div>
