<div class="hero-image">
    <div class="hero-text">
      <h1>Ez tenda</h1>
      <p><span id="banner-typed-text"></span></p>
       <%= link_to 'Explore Brands', brands_path, class: "button" %>
       <br>
       <%= link_to 'Venues', venues_path, class: "button" %>
      </div>
    </div>



