<div class="container">
  <div class="opaque-background">
    <%= render "shared/navbar" %>
  </div>
</div>
<div class="hero-image">
    <div class="hero-text">
      <h1>Ez tenda</h1>
      <p><span id="placeholder"></span></p>
      <br>
       <%= link_to 'Brands', brands_path, class: "button" %>
       <%= link_to 'Venues', venues_path, class: "button" %>
      </div>
    </div>
<div class="instructions">
    <div class="info">
        <p>A better way for bars and brands to do business.</p>
    </div>
    </div>
