<div class="hero-image">
  <div class="hero-text">
    <div class="opaque-background">
      <h1>Ez tenda</h1>
      <%= render "shared/card" %>
      <p><span id="placeholder"></span></p>
      <br>
      <%= link_to 'Brands', brands_path, class: "button" %>
      <%= link_to 'Venues', venues_path, class: "button" %>
    </div>
  </div>
</div>

