<div class="hero-image">
    <div class="hero-text">
      <h1>Ez tenda</h1>
      <p><span id="placeholder"></span></p>
      <br>
       <%= link_to 'Brands', brands_path, class: "button" %>
       <%= link_to 'Venues', venues_path, class: "button" %>
       </p>
      </div>
    </div>



