// Import venues controller specific stylesheets here
.venue-offers {
  background-image: linear-gradient(rgba(235, 180, 180, 0.7), rgba(233, 213, 213, 0.3)), url(bottles.jpg);
  background-size: cover;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
//   filter: brightness(135%);
  margin-top: 62px;
  padding-bottom: 150px;
}

.request-cards {
  width: 60%;
}