// Import venues controller specific stylesheets here
.venue-offers {
  background-image: linear-gradient(rgba(133, 93, 93, 0.7), rgba(0, 0, 0, 0.3)), url(bottles.jpg);
  background-size: cover;
  background-position: center;
  height: 237vh;
}

.request-cards {
  width: 60%;
}