.card-product {
  overflow: hidden;
  height: 200px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
  }
  
  .card-product-infos {
    padding: 16px;
  }

  #text-muted {
    font-size:14px;
    font-weight:300;
    font-style:italic;
    color:#5c635b;
  }
}


.all-offers-card {
  margin-bottom: 16px;
  justify-content: space-between;

  img {
    margin: 0 24px;
  }

  .min-bid-est-vol {
    display: flex;
  }

  #min-bid {
    margin-right: 32px;
  }

  .card-product-infos {
    flex-grow: 1;
  }

  .bid-button {
    margin-left: 24px;
    margin-right: 32px;
  }
}

.card-offer {
  text-align: left;

h4 {
  padding-left: 37px;
}
}



