.card-product {
  overflow: hidden;
  height: 200px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
  }

  .card-product:hover {
  opacity: 0.75;
  color: #EE4F53;
  cursor: pointer;
  transform: translateY(5px)
}

  .card-product-infos {
    padding: 16px;
  }

  #text-muted {
    font-size:14px;
    font-weight:300;
    font-style:italic;
    color:#5c635b;
  }
}


.all-offers-card {
  margin-bottom: 16px;

  img {
    margin: 0 16px;
  }

  .min-bid-est-vol {
    display: flex;
  }

  #min-bid {
    margin-right: 32px;
  }
}

.card-offer {
  text-align: left;

h4 {
  padding-left: 37px;
}
}

///////// Bid Card

// .bid-cards {
//   width: 375px;
//   margin: 75px auto;
//   float: none;
//   margin-bottom: 10px;
// }

