.nav-item.dropdown li {
  list-style-type: none;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 100px 0px 100px;
  background-color: rgba(0,0,0,0.3);
}
.btn {
  background-color: #EE4F53;
  border: #EE4F53;
  color: white;
  font-weight: bold;
}
 .btn:hover {
   background-color: white;
   color: #EE4F53;
   border: #EE4F53;
 }

.fas {
  color: #EE4F53;
  font-size: 30px;
}
.navbar-brand {
  display: flex;
}
.navbar-brand p {
  color: #EE4F53;
  font-size: 27px;
}
#tenda {
  color: white;
  font-size: 27px;
  text-shadow: 1px 1px 0 #EE4F53;
}

.navbar-right {
  display: flex;
  align-items: center;

  .new-offer {
    margin-right: 16px;
  }
}
