.nav-item.dropdown li {
  list-style-type: none;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.btn {
  background-color: #B9C8C7;
  border: #B9C8C7;
  color: white;
  font-weight: bold;
}
.fas {
  color: #FF9801;
  font-size: 30px;
}
.navbar-brand {
  display: flex;
}
.navbar-brand p {
  color: #FF9801;
  font-size: 27px;
}
#tenda {
  color: white;
  font-size: 27px;
}
