.nav-item.dropdown li {
  list-style-type: none;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 100px 0px 100px;
  background-color: rgba(0,0,0,0.3);
}
.btn {
  background-color: #B9C8C7;
  border: #B9C8C7;
  color: white;
  font-weight: bold;
}
 .btn:hover {
   background-color: #EE4F53;
 }

.fas {
  color: #EE4F53;
  font-size: 30px;
}
.navbar-brand {
  display: flex;
}
.navbar-brand p {
  color: #EE4F53;
  font-size: 27px;
}
#tenda {
  color: white;
  font-size: 27px;
}
